body {
  margin: 0;
  background-color: rgb(82, 86, 89);
  color: #fff;
  font-family: Helvetica,Arial,sans-serif;
}

.Reader {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;

    &__load {
      margin-top: 1em;
      color: white;
    }

    &__document {
      margin: 0;

      .react-pdf {
        &__Document {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__Page {
          max-width: calc(100% - 0.5em);
          margin: 0.1em;

          canvas {
            max-width: 100%;
            height: auto !important;
          }

          &__annotations {
            display: none;
          }
        }
      }
    }
  }
}